<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/index.css" charset="utf-8">
        <link rel="stylesheet" href="/auto-complete.css" charset="utf-8">
        <script type="text/javascript" src="/media_objects.js"></script>
    <title>NFP | Media Search Tool</title>
    <script>
    window.onload = function(){
        let urlParams = new URLSearchParams(window.location.search);

        document.getElementById('addButton').setAttribute("onclick", `window.location.href = 'add?${urlParams}';`);

    };
    </script>
</head>
<body>
    <div class="div_body">
        <div class="div_main_container">
            <div class="div_sub_container">
                <div class="logo_container">
                    <img src="https://internal.nfp.com/webfiles/public/2015/emails/pardot-templates/images/nfp-logo-green-cmyk-150px.png" alt="NFP" style="border: none; display: block;"/>
                </div>
                <div class="search_container">
                    <div class="div_headline">
                        NFP Media Search
                    </div>
                </div>
                <form method="GET" action="/index">
                <div class="search_container">
                    <div class="search_box">
                        <input type="text" autofocus id="nfpSearchInput" name="add" value="" class="nfpSearchBoxInput" placeholder="Search Video Tags" />
                        <a class="nfpSearchIcon" href=""><input type="image" name="submit" width="20" src="https://webfiles2.nfp.com/webfiles/public/mg/icon-search-mobile.png" alt="Search" class="img-responsive" style="display: block; margin: auto;" /></a>
                    </div>
                </div>
                <div class="pagination_container">
                    <font style="color: #303030;"><strong>1-25</strong> |</font> 26-50 <font style="color: #000000;">|</font> 51-75
                </div>
                <div class="tags_container" id="tags_container">
                </div>
                </form>
                <table class="table_sort" id="tableVideoList">
                    <tr class="table_sort_header">
                        <td>ID#</td>
                        <td width="150">Name</td>
                        <td>Type</td>
                        <td>Added</td>
                        <td>Tags</td>
                        <td>Length</td>
                        <td>Description</td>
                        <td>URL</td>
                        <td><input type="button" id="addButton" value="Add"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/auto-complete.js"></script>
    <script>
        var demo1 = new autoComplete({
            selector: '#nfpSearchInput',
            minChars: 1,
            source: function(term, suggest){
                term = term.toLowerCase();
                var tags = [<% for(let i=0;i<videoRecords.length;i++){ %>'<%= videoRecords[i].videoTags %>', <% } %>];
                let mergedTags = [];
                for (let j=0; j<tags.length; j++) {
                    mergedTags.push(tags[j].split(","));
                }
                console.log(`Before cleanup ${mergedTags}`);
                let choices = Array.prototype.concat.apply([], mergedTags);
                console.log(" ")
                console.log(`After cleanup ${choices}`);
                choices = [...new Set(choices)]
                // var choices = [`animation`, `interview`, `serious`, `comedic`, `instructional`, `Kim Davis`, `Doug Hammond`, `Addiction Treatment`, `Mike Goldman`, `Breweries`, `Cemeteries & Memorial Parks`, `Chemical`, `Clubs & Golf Courses`, `Communications, Media & Technology`, `Condominium Homeowners`, `Construction`];
                var suggestions = [];
                for (i=0;i<choices.length;i++)
                    if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            }
        });
    </script>
</body>
</html>